Document_Generator_github.json
{
  "name": "Project 1 - Document Generator",
  "nodes": [
    {
      "parameters": {
        "command": "=hostname"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -448,
        -272
      ],
      "id": "d1878e72-3d4f-4005-a0e9-351fe9f13657",
      "name": "Execute a command",
      "credentials": {
        "sshPassword": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        576,
        16
      ],
      "id": "f9963c86-48a9-4bae-9cd7-a2d2a80a3299",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        576,
        224
      ],
      "id": "243d5c53-4d6e-437f-a561-517c4a79ae83",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -752,
        -144
      ],
      "id": "a9684485-33f4-48b4-a67a-b764768787fb",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    hostname: $json.stdout.trim(),\n    raw_commands: {\n      hostname: {\n        command: \"hostname\",\n        stdout: $json.stdout,\n        stderr: $json.stderr,\n        exit_code: $json.code,\n        timestamp: new Date().toISOString()\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -272
      ],
      "id": "b135c63f-5788-4eaa-a288-278090758e78",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        960,
        -48
      ],
      "id": "26476ede-7d2b-4022-9a7f-5c9f32574ec4",
      "name": "Markdown"
    },
    {
      "parameters": {
        "operation": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1152,
        144
      ],
      "id": "936150aa-2dda-4c22-90cb-fa79933e257c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "command": "=uname -a"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -448,
        -112
      ],
      "id": "58d4d097-8169-4818-bcdd-36c93a94caaa",
      "name": "Execute a command1",
      "credentials": {
        "sshPassword": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "=ip addr"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -448,
        48
      ],
      "id": "3682d7bb-4638-4a30-a3ae-4b6ae2df3950",
      "name": "Execute a command2",
      "credentials": {
        "sshPassword": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": false
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        80,
        -128
      ],
      "id": "5601e325-aacf-459d-aac4-47a2f9020e4a",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    os_info: $json.stdout,\n    raw_commands: {\n      uname: {\n        command: \"uname -a\",\n        stdout: $json.stdout,\n        stderr: $json.stderr,\n        exit_code: $json.code,\n        timestamp: new Date().toISOString()\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -112
      ],
      "id": "6099b2e8-083a-413d-ae83-fb400c55a4e4",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const output = $json.stdout;\n\nconst ips = [...output.matchAll(/inet\\s(\\d+\\.\\d+\\.\\d+\\.\\d+)/g)]\n  .map(m => m[1])\n  .filter(ip => ip !== \"127.0.0.1\");\n\nreturn [\n  {\n    network: {\n      ips\n    },\n    raw_commands: {\n      ip_addr: {\n        command: \"ip addr\",\n        stdout: $json.stdout,\n        stdder: $json.stdder,\n        exit_code: $json.code,\n        timestamp: new Date().toISOString()\n      }\n    }  \n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        48
      ],
      "id": "e7f5c1c5-2af5-455b-bd19-b983ea2c99ae",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "function randomInt(min, max) {\n  return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\n// Hash simple compatible con sandbox n8n\nfunction simpleHash(str) {\n  let hash = 0;\n  if (!str) return 0;\n\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) - hash) + str.charCodeAt(i);\n    hash |= 0;\n  }\n\n  return Math.abs(hash);\n}\n\nreturn items.map(item => {\n\n  const hostname = item.json.hostname || \"unknown\";\n  const osInfo = item.json.os_info || \"unknown\";\n  const rawCommands = item.json.raw_commands || {};\n  const network = item.json.network || {};\n\n  // ----- host_id -----\n  const hostId = simpleHash(hostname + osInfo);\n\n  // ----- snapshot_status -----\n  const commands = Object.values(rawCommands);\n\n  let snapshotStatus = \"complete\";\n\n  if (commands.length === 0) {\n    snapshotStatus = \"failed\";\n  } else if (!commands.every(c => c.exit_code === 0)) {\n    snapshotStatus = \"partial\";\n  }\n\n  return {\n    json: {\n\n      metadata: {\n        snapshot_id: `${Date.now()}-${randomInt(1000,9999)}`,\n        snapshot_timestamp: new Date().toISOString(),\n        collector: \"n8n\",\n        schema_version: \"1.2\",\n        parser_version: \"core_collectors_v1\"\n      },\n\n      snapshot: {\n\n        identity: {\n          hostname: hostname,\n          host_id: hostId\n        },\n\n        system: {\n          os_info: osInfo\n        },\n\n        network: network,\n\n        status: snapshotStatus\n      },\n\n      raw_commands: rawCommands\n    }\n  };\n\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -112
      ],
      "id": "8c20498b-b71e-46c7-ba85-c5779aff9898",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        -288
      ],
      "id": "bd8ca8c3-69c6-4ae9-8495-90faae906b5b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "html_base64",
        "options": {
          "fileName": "index.html",
          "mimeType": "text/html"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        688,
        -304
      ],
      "id": "7acab000-712d-4fb8-a1b4-f21447b1a9b9",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\n\n// ====== Extraemos datos ======\nconst snapshotId = data.metadata?.snapshot_id || '';\nconst timestamp = data.metadata?.snapshot_timestamp || '';\nconst collector = data.metadata?.collector || '';\nconst status = data.snapshot?.status || '';\n\nconst hostname = data.snapshot?.identity?.hostname || '';\nconst hostId = data.snapshot?.identity?.host_id || '';\nconst osInfo = data.snapshot?.system?.os_info || '';\n\nconst ips = (data.snapshot?.network?.ips || []).join(', ');\n\nconst rawHostname = data.raw_commands?.hostname?.stdout || '';\nconst rawUname = data.raw_commands?.uname?.stdout || '';\n\n// ====== HTML ======\nconst htmlContent = `\n<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"utf-8\"/>\n<style>\nbody {\n  font-family: Arial, sans-serif;\n  font-size: 13px;\n  margin: 40px;\n}\n\nh1 {\n  text-align: center;\n  margin-bottom: 30px;\n}\n\nh2 {\n  margin-top: 30px;\n}\n\ntable {\n  border-collapse: collapse;\n  width: 100%;\n  margin-top: 10px;\n}\n\nth, td {\n  border: 1px solid #333;\n  padding: 8px;\n  text-align: left;\n  vertical-align: top;\n}\n\nth {\n  background-color: #f2f2f2;\n  width: 25%;\n}\n\n.section {\n  margin-top: 25px;\n}\n</style>\n</head>\n<body>\n\n<h1>Reporte Snapshot</h1>\n\n<div class=\"section\">\n<h2>Metadata</h2>\n<table>\n<tr><th>Snapshot ID</th><td>${snapshotId}</td></tr>\n<tr><th>Timestamp</th><td>${timestamp}</td></tr>\n<tr><th>Collector</th><td>${collector}</td></tr>\n<tr><th>Status</th><td>${status}</td></tr>\n</table>\n</div>\n\n<div class=\"section\">\n<h2>System Info</h2>\n<table>\n<tr><th>Hostname</th><td>${hostname}</td></tr>\n<tr><th>Host ID</th><td>${hostId}</td></tr>\n<tr><th>OS Info</th><td>${osInfo}</td></tr>\n<tr><th>IP Addresses</th><td>${ips}</td></tr>\n</table>\n</div>\n\n<div class=\"section\">\n<h2>Raw Commands</h2>\n<table>\n<tr><th>hostname</th><td>${rawHostname}</td></tr>\n<tr><th>uname -a</th><td>${rawUname}</td></tr>\n</table>\n</div>\n\n</body>\n</html>\n`;\n\nreturn [\n  {\n    json: {\n      html_base64: Buffer.from(htmlContent).toString('base64')\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -112
      ],
      "id": "26560245-71fd-420a-be09-e14c49f6807d",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "sendTo": "your-email@gmail.com",
        "subject": "=Infra Report Results {{$now.format(\"yyyy-MM-dd\")}}\n",
        "message": "=Hello,\n\nPlease find attached infra report.\n\nRegards,\nResume Screener Bot",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        -288
      ],
      "id": "67b6145a-8ee8-40e3-8b22-d9d9d0fb6745",
      "name": "Send report as attachment",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute a command": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a command1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a command2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send report as attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}
